<!DOCTYPE html>
<html>
<head>
   <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">

    <link rel="stylesheet" href="stylesheets/ion.rangeSlider.css">
    <link rel="stylesheet" href="stylesheets/normalize.css" />
    <link rel="stylesheet" href="stylesheets/ion.rangeSlider.skinFlat.css">
    <script src="/scripts/ion.rangeSlider.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="scripts/bootstrap-formhelpers-phone.en_US.js"></script>
    <script src="scripts/bootstrap-formhelpers-phone.js"></script>
    <script src="scripts/main.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- <link rel="stylesheet" href="transit.min.ccs"> -->
</head>
<body>
    <h1 class="text-center">Hack Connections</h1>
    <form method="post" action="/">
        <div class="container form">
            <h2 class="text-center" id="ContactHeader">Basic Info</h2>
          <!--   <fieldset class="form-group">
                <label for="InputName">First Name</label>
                <input type="name" name="user[firstname]" class="form-control" id="InputName" placeholder="First Name">
            </fieldset>
            <fieldset class="form-group">
                <label for="InputName">Last Name</label>
                <input type="name" name="user[lastname]" class="form-control" id="InputName" placeholder="Last Name">
            </fieldset>
            <fieldset class="form-group">
                <label for="InputPhoneNumber">Phone Number</label>
                <input type="text" name="user[phone]" class="form-control bfh-phone" id="InputPhone" data-format="ddd-ddd-dddd" placeholder="Phone Number">
            </fieldset> -->
            <div class="input-group">
                <span class="input-group-addon">First Name</span>
                <input type="text" name="user[firstname]" id="InputFirstName" class="noborder form-control" placeholder="Jerry" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Last Name</span>
                <input type="text" name="user[lastname]" id="InputLastName" class="noborder form-control" placeholder="Seinfeld" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input type="text" name="user[email]" id="InputEmail" class="noborder form-control" placeholder="jerry@seinfeld.com" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Phone Number</span>
                <input type="text" class="noborder form-control bfh-phone" name="user[phone]" id="InputPhoneNumber" data-format="ddd-ddd-dddd" placeholder="xxx-xxx-xxxx" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input type="text" name="user[password]" id="loginpassword" class="noborder form-control" placeholder="xxxxxxx" aria-describedby="basic-addon1">
            </div>

        </div>

       <div class="container form" id="bio">
            <h2 class="text-center" id="BioHeader">Tell us about yourself!</h2>
            <textarea class="form-control" name="user[bio]" rows="3" placeholder="Where do you go to school? What year are you? Career goals? Where are you from? Tell us anything you'd want new friends to know about you!"></textarea>
        </div>
        <div class="container form" id="technical-background">
            <h2 class="text-center" id="BackgroundHeader">Describe your technical background</h2>
            <textarea class="form-control" name="user[tech_background]" rows="3" placeholder="What are you most proud of? What languages, platforms, operating systems are you comfortable with? Do you have any seemingly unrelated technical skill (i.e. can analyze stellar spectra)?"></textarea>
        </div>
        <div class="container form" id="interests">
            <h2 class="text-center" id="InterestsHeader">What are you hoping to work on?</h2>
            <textarea class="form-control" rows="3" placeholder="What technologies would you like to work with? Do you want to do front-end? Big Data? Let us know!" name="user[project]"></textarea>
        </div>
        <div class="container form">
            <h2 class="text-center" id="CompetitiveHeader">Ok, so how competitive are you?</h2>
            <div>
            <input type="text" id="CompetitiveRating" value="The Middle Path" name="range" />
            </div>
        </div>
        
        <br>
        <div class="container text-center">
                    <button id="submitbutton" type="submit" class="btn submitcancel">Submit</button>
                    <a href="index"><button type="button" class="btn submitcancel" id="cancelbutton">Cancel</button></a>
        </div>
         
    </form>
  </div>

</body>
</html>