body {
  padding: 50px;
  background: url(/img/congruent_outline.png) repeat 0 0;
}

.form {
	font-family:'Josefin Sans';
	background-color: #255865;
	border-radius: 25px;
	border: 2px solid #505050;
	width:800px;
	margin-top: 25px;
	padding: 20px;
}

.button {
	background-color: #E2E2E2;
	border-radius: 25px;
	border: 1px solid #000000;
	margin-top: 10px;
	padding: 20px;
	height: 150px;
	color:#9CA653;
}

.match {
	width: 200px;
	background-color: #FFFFFF;
	color: #000000;
}

h1 {
	color: #C8D662;
	font-family:'Josefin Slab';
	font-size: 75px;
}

h2 {
	color:#EAEAEA;
}

a:link {
  color: #9CA653;
}

a:visited {
  color:#BF6B21;
}

.rows {
    font-size:small;
}

.input-group {
	margin:10px 0px;
	border-radius:25px;
}
.input-group-addon {
	min-width:110px;
	text-align:left;
	border-radius:5px;
	border:1px solid #EEEEEE;
}


.form-control {
	border: 1px solid #505050;
	border-radius:5px;
}

.noborder {
	border:0;
}
.indexbuttons {
	font-family:'Josefin Sans';
	font-size:25px;
	width:400px;
	height:200px;
	margin-top:100px;
	background-color:#404040;
	color:#EAEAEA;
	outline:0;
	border:1px solid #404040;
	border-radius:8px;
}
.indexbuttons.btn:hover {
	background-color:#255865;
	color:#EAEAEA;
}

#registerbutton {
	margin-right:20px;
}
#assignmentbutton {
	margin-left:20px;
}
.submitcancel {
	font-family:'Josefin Sans';
	font-size:18px;
	width:250px;
	height:60px;
	margin:5px;
	border: 1px solid #505050;
	background-color:#404040;
}
.submitcancel.btn:hover {
	color:#EAEAEA;
}