body {
  padding: 50px;
  background: url(/img/congruent_outline.png) repeat 0 0;
}

.form {
	font-family:'Josefin Sans';
	background-color: #BFD6E0;
	border-radius: 25px;
	border: 1px solid #000000;
	width:800px;
	margin-top: 25px;
	padding: 20px;
}

h1 {
	color: #9CA653;
	font-family:'Josefin Slab';
	font-size: 75px;
}


a:link {
  color: #9CA653;
}
a:visited {
  color:#BF6B21;
}

.rows {
    font-size:small;
}

.form-control {
	border: 1px solid #000000;
}

.indexbuttons {
	font-family:'Josefin Sans';
	font-size:25px;
	width:250px;
	height:150px;
	margin-top:50px;
	background-color:#FFFFFF;
	color:#9CA653;
}

#registerbutton {
	margin-right:10px;
}
#assignmentbutton {
	margin-left:10px;
}
#submitbutton {
	width:250px;
	height:75px;
	border: 1px solid #000000;
}
